body{
    background-color: rgb(253, 198, 159);
    font-family: sans-serif;
}
header{
    background-color: rgb(1, 46, 65);
    height: 220px;
    color: white;
}
img{ 
    margin: 85px;
    padding: 0px;
    border-radius: 115px;
    opacity: 1.0;
    position: absolute;
}
#brdr{
    height: 244px;
    width: 244px;
    margin: 72px;
    float: left;
    border: solid black 15px;
    border-radius: 125px;
    opacity: 0.6;
}
#naam{
   float: right; 
   margin-top: 75px;
   margin-right: 380px;
   font-size: 70px;
   color: rgb(255, 134, 64);
}
#desig{            /* designation */
    float: right;
    margin-top: 148px;
    right: 390px;
    font-size: 20px;
    position: absolute;
    font-size: 30px;
}
table{
    margin: 20px;
}
tr{
    height: 130px;
}
.detail{ 
    border-left: 3px solid black;
    font-size: 20px;
    padding-left: 20px;
}
td{
    padding-right: 20px;
    text-align: right;
    width: 400px;
}
#contact{
    background-color: chocolate;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: fixed;
    top: 373px;
    left: 30px;
    height: 130px;
    width: 340px;
    padding: 10px;
    padding-left: 20px;
    color: white;
}
footer{
    font-size: 22px;
    padding: 10px;
    background-color: rgb(1, 46, 65);
    height: 50px;
    color: white;
    text-align: center;
}
